
@{
    ViewBag.Title = "Index";
    var newsList1 = ViewBag.Informations1 as List<Information>;
    var newsList2 = ViewBag.Informations2 as List<Information>;
    var newsList3 = ViewBag.Informations3 as List<Information>;
}


<div class="container">
    <div>
        <h2>后台管理</h2>        
        <br />
    </div>
    <div class="row">
        <div class="col-md-8">
            <h3>通知公告</h3>
            <table class="table table-hover" style="table-layout:fixed">@*表格里使用text-overflow后不能隐藏超出的文本的解决方法 -- 需要给table加上【table-layout:fixed】的css样式*@
                @foreach (var item in newsList1)
                {
                    <tr>
                        @*隐藏超出的文本--{【white-space: nowrap】（设为一行显示，不换行）}， {【overflow:hidden】（隐藏超出的子标签）}， {【text-overflow:ellipsis】（隐藏超出的文本 显示为三个小点）}*@
                        <td class="col-lg-9" style="white-space: nowrap; overflow:hidden; text-overflow:ellipsis">
                            @Html.ActionLink("[ 编辑 ]", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("[ 删除 ]", "Delete", new { id = item.Id }) |
                            <a style="color:#000000" href="@Url.Action("Show", "News", new { id=item.Id })">@item.Subject</a>
                        </td>
                        <td class="col-lg-3">@item.DataCreated</td>
                    </tr>
                }
            </table>

            <h3>科教动态</h3>
            <table class="table table-hover" style="table-layout:fixed">
                @foreach (var item in newsList2)
                {
                    <tr>
                        <td class="col-lg-9" style="white-space: nowrap; overflow:hidden; text-overflow:ellipsis">
                            @Html.ActionLink("[ 编辑 ]", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("[ 删除 ]", "Delete", new { id = item.Id }) |
                            <a style="color:#000000" href="@Url.Action("Show", "News", new { id=item.Id })">@item.Subject</a>
                        </td>
                        <td class="col-lg-3">@item.DataCreated</td>
                    </tr>
                }
            </table>

            <h3>综合新闻</h3>
            <table class="table table-hover" style="table-layout:fixed">
                @foreach (var item in newsList3)
                {
                    <tr>
                        <td class="col-lg-9" style="white-space: nowrap; overflow:hidden; text-overflow:ellipsis">
                            @Html.ActionLink("[ 编辑 ]", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("[ 删除 ]", "Delete", new { id = item.Id }) |
                            <a style="color:#000000" href="@Url.Action("Show", "News", new { id=item.Id })">@item.Subject</a>
                        </td>
                        <td class="col-lg-3">@item.DataCreated</td>
                    </tr>
                }
            </table>
        </div>
        <div class="col-md-4">
            <h3>添加新闻</h3>
            <form action="@Url.Action("AddSave", "Admin")" method="post">
                <div class="form-group">
                    <label>新闻类别</label>
                    <select class="form-control" name="Type">
                        <option value="通知公告">通知公告</option>
                        <option value="科教动态">科教动态</option>
                        <option value="综合新闻">综合新闻</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>标题</label>
                    <input type="text"  name="Subject" class="form-control"/>
                </div>
                <div class="form-group">
                    <label>内容</label>
                    <textarea name="Body" class="form-control" rows="10"></textarea>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary btn-lg">保存</button>

                    <button type="reset" class="btn btn-primary btn-lg" style="margin-left:20px">取消</button>
                </div>
            </form>
        </div>
                
    </div>
    <div class="row" style="height:100px">

    </div>

</div>


